<style type="text/css">

#_tochead {
  text-align: center;
}

#_toctitle {
  font-size: 1.2em;
}

#_toctoggle {
  font-size: 0.8em;
}

#_toc, .toc {
	border: 1px solid #AAA;
	background-color: #F9F9F9;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 95%;
	margin-top: 10px;
}

#_toclist ul, .toclist ul {
	list-style-type: none;
	list-style-image: none;
	margin-left: 0;
	padding-left: 0;
	text-align: left;
}

#_toclist ul ul, .toclist ul ul {
	margin: 0 0 0 2em;
}

</style>
